$btnColor: #1fc69d;
$bckgroundBlue: #ebfaff;
$greyAccent: #e5e5e5;
// .purchase-wrapper {
//   min-height: 100vh;
// }
.purchase {
  padding: 20px 30px;
  min-height: 100vh;

  h5 {
    font-weight: 600;
    margin-bottom: 20px;
  }
}
.subheading {
  font-size: 18px;
  font-weight: 600;
}
.interactive-nav {
  display: flex;
  justify-content: space-between;
  // margin-bottom: 20px;

  p {
    height: 100%;
  }

  .back,
  .cancel {
    cursor: pointer;
  }
}
.phone,
.amount {
  display: flex;
  flex-direction: column;
}

// // ***************DATA RADIO STYLES*********************
.radio-wrapper {
  border: 1px solid $greyAccent;
  padding: 10px;
  transition: all 0.5s ease-in-out;
}
.radio {
  border-bottom: 1px solid $greyAccent;
  padding: 2px;
  margin-bottom: 5px;

  &:last-child {
    border-bottom: 0;
  }
}
.radio,
.radio .wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.radio label {
  flex: 70%;
  margin-right: 20px;
}
.wrap .name {
  margin-right: 15px;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="number"] {
  padding: 5px 10px;
  margin: 10px 0;
  border-radius: 4px;
  border: 1px solid $greyAccent;
}

// ****************NETWORK RADIO STYLES******************************

.network [type="radio"] {
  position: absolute;
  opacity: 0;
  width: 45px;
  height: 45px;
 
}

.network label {
  margin-right:5px !important;
}

[type="radio"] + img {
  cursor: pointer;
}

[type="radio"]:checked + img {
  outline: 2px solid springgreen;
}

.network-wrap label {
  margin-right: 5px;

  &:last-child {
    margin-right: 0;
  }
}

//*********************** cable subscription styles**********************

.cable-type-container {
  height: 88px;
  background: #f4f4f4;
  position: relative;

  &::after {
    content: url(../../Images/Icons/Arrow.png);
    // font: normal normal normal 17px/1 FontAwesome;
    right: 16px;
    top: 15px;
    height: 12px;
    padding: 15px 0px 0px 10px;
    position: absolute;
    pointer-events: none;
  }

  #cableType {
    width: 50%;
    background: #f4f4f4 !important;
    border: none !important;
    outline: none !important;
    border-radius: 0 !important;
    appearance: none;
    font-size: 16px !important;
    color: #333 !important;
    word-break: normal;

    &:focus {
      box-shadow: 0 0 0 0.15rem;
    }
  }
}
// ***************ADD METHOD***************************
.card-type-container {
  height: 92px;
  background: #f4f4f4;
  padding: 14px 16px;
}

#amount {
  height: 70px;
}

.amount-label {
  font-size: 18px;
}
#Code {
  width: 40% !important;
}

.details-wrapper {
  flex: 90% !important;

  .top-details,
  .bottom-details {
    margin-bottom: 0px;
    padding: 5px;
  }
}

.icon-wrapper {
  align-self: center;
  margin-right: 20px;
}
@media screen and (min-width: 480px) {
  .purchase-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .purchase {
    width: 80vw;
  }
  .purchase-nav {
    // display: none;
    width: 100%;
  }
}
@media screen and (min-width: 660px) {
  .purchase {
    height: 100%;
    width: 70vw;
    padding: 20px 40px;

    form {
      margin: auto;
      height: 100%;
      padding: 10px;
    }
  }
  // .purchase-nav {
  //   display: none;
  // }
}
@media screen and (min-width: 804px) {
  .purchase {
    width: 40%;
    padding: 10px 40px;
  }
}
@media screen and (min-width: 1200px) {
  .purchase {
    width: 30%;
    padding: 10px 50px;
  }
}

.no-height {
  height: 0;
  display: none;
  transition: all 0.5s ease-in-out;
}
